<%= form_tag move_gallery_images_path, method: :put, remote: true, class: "mod-form" do %>
  <%= hidden_field_tag :parent_id %>
  <%= hidden_field_tag :image_ids %>
  <div class="mod-submit-wrap">
    <%= submit_tag t("common.move"), class: "mod-submit" %>
    <span><%= t("common.or") %></span>
    <input type="reset" class="reset md-close" value="<%=t 'common.cancel' %>"></input>
  </div>
<% end %>